<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/quizResult.css" />
    <script src="/public/js/frontEndJS/studentQuizResultPage.js"></script>
</head>

<body class="font-default content background-main">

    <div class="d-none" id="qUnit">
        <%= r_unit %>
    </div>

    <div class="d-flex stu_title flexDirectionRow">
        <div class="lAlign">
            <img src="/public/assest/Logo.png" class="quizResult_logo" />
        </div>
    </div>

    <div class="quizResult_head">
        <div class="color-gray1 font-weight-700 quizResult_hello">
            <%= r_stuName %>同學，你答對了<%= r_resultCorrectNum %>題!
        </div>
        <div class="color-green quizResult_word">很厲害喔!</div>
    </div>

    <div class="color-gray1 quizResult_body w-50">

        <% for (let i=0; i < r_resultList.length; i++) { %>
            <div class="cFlexAlign quizResult_question">
                <div class="quizResult-w-1 font-weight-700 rAlign">
                    <%=(i+1)%>
                </div>

                <% if(r_resultList[i].qCorrect==true){ %>
                    <div class="quizResult-w-2 cAlign">O</div>
                    <div class="quizResult-w-3">
                        <a href="#<%=r_resultList[i].qId %>">
                            <button class="borderNone background-trasparent cFlexAlign">
                                <img src="/public/assest/stu_quiz_end/lookQuestion_correct.png" />
                            </button>
                        </a>

                        <a href="#" class="lightbox" id="<%=r_resultList[i].qId %>">
                            <div class="quizResult_panel quizResult-w-90">

                                <div class="quizResult_content">
                                    <div class="jAlign quizResult_lineHeight">
                                        <%= r_resultList[i].qTopic %>
                                    </div>
    
                                    <div class="quizResult_pic">
                                        <% if(r_resultList[i].qImg) { %>
                                            <img src="/public/qPic/<%=r_resultList[i].qImg%>">
                                        <% } %>
                                    </div>
    
                                    <hr />
    
                                    <ul class="quizResult_option quizResult_lineHeight">
                                        <% if(r_resultList[i].qOptions[0].color) { %>
                                            <li class="<%= r_resultList[i].qOptions[0].color %> jAlign">
                                                (A)<%= r_resultList[i].qOptions[0].option %>
                                            </li>
                                        <% } else { %>
                                            <li class="jAlign">
                                                (A)<%= r_resultList[i].qOptions[0].option %>
                                            </li>
                                        <% } %>

                                        <% if(r_resultList[i].qOptions[1].color) { %>
                                            <li class="<%= r_resultList[i].qOptions[1].color %> jAlign">
                                                (B)<%= r_resultList[i].qOptions[1].option %>
                                            </li>
                                        <% } else { %>
                                            <li class="jAlign">
                                                (B)<%= r_resultList[i].qOptions[1].option %>
                                            </li>
                                        <% } %>
        
                                        <% if(r_resultList[i].qOptions[2].color) { %>
                                            <li class="<%= r_resultList[i].qOptions[2].color %> jAlign">
                                                (C)<%= r_resultList[i].qOptions[2].option %>
                                            </li>
                                        <% } else { %>
                                            <li class="jAlign">
                                                (C)<%= r_resultList[i].qOptions[2].option %>
                                            </li>
                                        <% } %>
        
                                        <% if(r_resultList[i].qOptions[3].color) { %>
                                            <li class="<%= r_resultList[i].qOptions[3].color %> jAlign">
                                                (D)<%= r_resultList[i].qOptions[3].option %>
                                            </li>
                                        <% } else { %>
                                            <li class="jAlign">
                                                (D)<%= r_resultList[i].qOptions[3].option %>
                                            </li>
                                        <% } %>
                                    </ul>
                                    
                                    <% if (r_resultList[i].qExplain) { %>
                                        <div class="quizResult_explan color-red1 quizResult_lineHeight jAlign">解析:<%= r_resultList[i].qExplain %></div>
                                    <% } %>
                                </div>

                            </div>
                        </a>
                        
                    </div>
                <% } else { %>
                    <div class="quizResult-w-2 cAlign color-red1">X</div>
                    <div class="quizResult-w-3">
                        <a href="#<%=r_resultList[i].qId %>">
                            <button class="borderNone background-trasparent cFlexAlign">
                                <img src="/public/assest/stu_quiz_end/lookQuestion_failed.png" />
                            </button>
                        </a>

                        <a href="#" class="lightbox" id="<%=r_resultList[i].qId %>">
                            <div class="quizResult_panel quizResult-w-90">

                                <div  class="quizResult_content">
                                    <div class="jAlign quizResult_lineHeight">
                                        <%= r_resultList[i].qTopic %>
                                    </div>

                                    <div class="quizResult_pic">
                                        <% if(r_resultList[i].qImg) { %>
                                            <img src="/public/qPic/<%=r_resultList[i].qImg%>">
                                        <% } %>
                                    </div>

                                    <hr />

                                    <ul class="quizResult_option quizResult_lineHeight">
                                        <% if(r_resultList[i].qOptions[0].color) { %>
                                            <li class="<%= r_resultList[i].qOptions[0].color %> jAlign">
                                                (A)<%= r_resultList[i].qOptions[0].option %>
                                            </li>
                                        <% } else { %>
                                            <li class="jAlign">
                                                (A)<%= r_resultList[i].qOptions[0].option %>
                                            </li>
                                        <% } %>

                                        <% if(r_resultList[i].qOptions[1].color) { %>
                                            <li class="<%= r_resultList[i].qOptions[1].color %> jAlign">
                                                (B)<%= r_resultList[i].qOptions[1].option %>
                                            </li>
                                        <% } else { %>
                                            <li class="jAlign">
                                                (B)<%= r_resultList[i].qOptions[1].option %>
                                            </li>
                                        <% } %>
        
                                        <% if(r_resultList[i].qOptions[2].color) { %>
                                            <li class="<%= r_resultList[i].qOptions[2].color %> jAlign">
                                                (C)<%= r_resultList[i].qOptions[2].option %>
                                            </li>
                                        <% } else { %>
                                            <li class="jAlign">
                                                (C)<%= r_resultList[i].qOptions[2].option %>
                                            </li>
                                        <% } %>

                                        <% if(r_resultList[i].qOptions[3].color) { %>
                                            <li class="<%= r_resultList[i].qOptions[3].color %> jAlign">
                                                (D)<%= r_resultList[i].qOptions[3].option %>
                                            </li>
                                        <% } else { %>
                                            <li class="jAlign">
                                                (D)<%= r_resultList[i].qOptions[3].option %>
                                            </li>
                                        <% } %>
                                    </ul>

                                    <% if (r_resultList[i].qExplain) { %>
                                        <div class="quizResult_explan color-red1 quizResult_lineHeight jAlign">解析:<%= r_resultList[i].qExplain %></div>
                                    <% } %>

                                </div>

                            </div>
                        </a>
                    </div>
                <% } %>

            </div>
            <% } %>

    </div>

    <div class="cFlexAlign margin-0-auto quizResult-w-80">
        <div class="quizResult-w-33">
            <button class="borderNone background-trasparent" id="testAgain">
                <img src="/public/assest/stu_quiz_end/retry.png" class="retry" />
            </button>
        </div>

        <div class="quizResult-w-33">
            <button class="borderNone background-trasparent" id="changeUnit">
                <img src="/public/assest/stu_quiz_end/change.png" class="change" />
            </button>
        </div>

        <div class="quizResult-w-33">
            <button class="borderNone background-trasparent" id="goIndex">
                <img src="/public/assest/stu_quiz_end/home.png" class="index" />
            </button>
        </div>
    </div>

</body>

</html>